{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div id="main" class="container">
    <div class="row">
      <div id="sidebar-left" class="col-xs-2 col-sm-2">
        {{
          render(
            controller(
              'App\\Controller\\MenuController::index',
              {
                keep_open: 0,
                route: route
              },
              {
                username: user,
                avatar: true
              }
            )
          )
        }}
      </div>

      <div id="content" class="col-xs-12 col-sm-10">
        <div class="row">
          <div id="breadcrumb" class="col-xs-12">
            <a href="#" class="show-sidebar"><i class="fa fa-bars"></i></a>
            <ol class="breadcrumbpanel pull-left">
              <a href="#">Páginas</a>
            </ol>
          </div>
        </div>

        <div class="pagename row pad-lt-15 pad-bt-15">
          <div class="col-sm">
            <h1>
              {{ pageName }}
              <br />
            </h1>
          </div>
        </div>

          <div class="row font-20" style="margin-bottom:15px">
              <div class="col-sm-10 mb-10">
                  <div class="table-responsive">
                      <table>
                          <tr>
                              <th>
                                  Combo
                              </th>
                              <th>
                                  Descripcion
                              </th>
                              <th>
                                  Imagen
                              </th>
                              <th>
                                  Precio
                              </th>
                              <th></th>
                          </tr>
                          {% for combo in combos %}
                              <tr>
                                  <td class="left">
                                      {{ combo.name|raw }}
                                  </td>
                                  <td class="left">
                                      {{ combo.description|raw }}
                                  </td>
                                  <td class="center">
                                      {{ combo.imageUrl|raw }}
                                  </td>
                                  <td class="center">
                                      {{ combo.price|raw }}
                                  </td>
                                  <td class="actions">
                                      <div class="col-sm-1 buttons action-buttons">
                                          <img class="icon" src="../images/icono_edit.png"
                                               onclick="showEditCombo({{ combo.id }});"
                                               style="cursor: pointer;" />

                                          <img class="icon"
                                               src="../images/icono_delete.png"
                                               onclick="showDeleteItem('{{ combo.id }}', '{{ combo.name|raw }}');"
                                               style="cursor: pointer;" />
                                      </div>
                                  </td>
                              </tr>

                          {% endfor %}
                      </table>
                  </div>
                  <button type="button" title="Agregar item"
                          class="btn btn-success btn-lg addItem"
                          onClick="showAddCategory();">
                      +
                  </button>
              </div>
          </div>
      </div>
    </div>
  </div>
    {{ include('user/modals/modal_confirm.twig') }}
    {{ include('user/modals/modal_general.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    function showAddCategory() {
        $('.modal-body-new-user').html('<div align="center"><img height="100" src="{{ asset('images/loading.gif') }}"></div>');
        $('.modal-body-new-user').load('../admin/page/element/addCombo/', function () {});
        $('.modal-title').html('Nuevo combo');
        $("#newItemModal").modal('show');
    }

    function showDeleteItem(id, name) {
        $(".modal-header #sectionId").val(id);
        $('#myModalLabelMessage').html('¿Confirma la eliminacion del combo '+name+'?');

        $("#confirmModal").modal('show');
    }

    function showEditCombo(id) {
        $('.modal-body-new-user').html('<div align="center"><img height="100" src="{{ asset('images/loading.gif') }}"></div>');
        $('.modal-body-new-user').load('../admin/page/element/editCombo/'+id, function () {});
        $('.modal-title').html('Editar combo');
        $("#newItemModal").modal('show');
    }

    var modalConfirmDelete = function (callback) {
        $("#modal-del-btn-si").on("click", function () {
            callback(true);
            $("#confirmModal").modal('hide');
        });

        $("#modal-del-btn-no").on("click", function () {
            callback(false);
            $("#confirmModal").modal('hide');
        });
    };

    modalConfirmDelete(function (confirm) {
        if (confirm) {
            let sectionId = $("#sectionId").val();
            let path = '{{ path('remove_combo', {'id': 'sectionId'}) }}';
            let finalPath = path.replace("sectionId", sectionId);

            $.ajax({
                url: finalPath,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.status === 'nok') {
                        alert(data.message);
                        return false;
                    }
                    //console.log(data);
                    location.reload();
                },
                error: function (xhr, status) {
                    console.log(xhr);
                    console.log(status);
                    alert("{{ 'alert.error.processing' | trans }}");
                }
            });
        } else {

        }
    });
  </script>
{% endblock %}
