{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div id="main" class="container">
    <div class="row">
      <div id="sidebar-left" class="col-xs-2 col-sm-2">
        {{
          render(
            controller(
              'App\\Controller\\MenuController::index',
              {
                keep_open: 0,
                route: route
              },
              {
                username: user,
                avatar: true
              }
            )
          )
        }}
      </div>

      <div id="content" class="col-xs-12 col-sm-10">
        <div class="row">
          <div id="breadcrumb" class="col-xs-12">
            <a href="#" class="show-sidebar"><i class="fa fa-bars"></i></a>
            <ol class="breadcrumbpanel pull-left">
              <a href="#">Orden</a>
            </ol>
          </div>
        </div>

        <div class="pagename row pad-lt-15 pad-bt-15">
          <div class="col-sm">
            <h1>
              {{ pageName|trans }}
              <br />
            </h1>
          </div>
        </div>

          <div class="row font-20" style="margin-bottom:15px">
              <div class="col-sm-10 mb-10">
                  <h2>{{ subtitle|trans }}</h2>
              </div>
              <div class="col-sm-10 mb-10">
                  <div class="table-responsive">
                      <table>
                          <tr>
                              <th>
                                  Item
                              </th>
                              <th>
                                  Tipo
                              </th>
                              <th>
                                  Posicion
                              </th>
                              <th>
                                  Visible
                              </th>
                          </tr>
                          {% for category in categories %}
                              <tr>
                                  <td class="left">
                                      {% if category.type == 'category_type.text' or category.type == 'category_type.image'%}
                                        {{ category.name | trans }}
                                      {% else %}
                                        {{ category.name }}
                                      {% endif %}
                                  </td>
                                  <td class="center">
                                      {{ category.type | trans }}
                                  </td>
                                  <td class="center">
                                      <a href="#" onClick="moveUp({{ category.id }}, {{ category.order }});">
                                          <img src="{{ asset('images/arrow_up.png') }}" height="30px" style="margin-right: 10px">
                                      </a>
                                      <a href="#" onClick="moveDown({{ category.id }}, {{ category.order }});">
                                          <img src="{{ asset('images/arrow_down.png') }}" height="30px">
                                      </a>
                                  </td>
                                  <td class="center">
                                      {% set img = (category.enabled) ? 'images/toggle_on.png' : 'images/toggle_off.png' %}
                                      <img src="{{ asset(img) }}" height="30px" style="cursor: pointer;"
                                           onclick="toggleCategoryVisibility({{ category.id }});"
                                      >
                                  </td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
              {#                  Restaurant seleccionado: <b>{{ selectedRestaurant }}</b>#}
          </div>
      </div>
    </div>
  </div>
    {{ include('user/modals/modal_confirm.twig') }}
    {{ include('user/modals/modal_general.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
      function moveUp(id, newposition) {
          if (newposition === 1) {
              return true;
          }

          reorder(id, newposition - 1);
      }

      function moveDown(id, newposition) {
          reorder(id, newposition + 1);
      }

      function reorder(id, newposition) {
        let path = '{{ path('category_update_order', {'id': 'id','newPosition': 'newPosition'}) }}';
        let finalPath = path.replace("id", id);
        finalPath = finalPath.replace("newPosition", newposition);

        $.ajax({
            url: finalPath,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                location.reload();
            },
            error: function (xhr, status) {
                alert("{{ 'alert.error.processing' | trans }}");
            }
        });
      };

      function toggleCategoryVisibility(categoryId) {
          const path = '{{ path('category_toggle_visible', {'categoryId': 'categoryId'}) }}';
          const finalPath = path.replace("categoryId", categoryId);

          $.ajax({
              url: finalPath,
              type: 'POST',
              dataType: 'json',
              success: function (data) {
                  location.reload();
              },
              error: function (xhr, status) {
                  alert("{{ 'alert.error.processing' | trans }}");
              }
          });
      }
  </script>
{% endblock %}
