{% block stylesheets %} {% endblock %}

{% block body %}
    <ul class="nav main-menu">
        <li class="dropdown">
            {% for level0 in menu %}
                {% if level0.values|default(null) is iterable %}
                    <a href="#" class="dropdown-toggle {{ (level0.id in selectedId)  ? ' active-parent' : '' }} ">
                        <i class="{{ level0.iconclass }}"></i>
                        <span class="hidden-xs">{{ level0.name | trans }} </span>
                    </a>
                {% else %}
                    <a href="{{ path( level0.path )}}" class="dropdown-toggle">
                        <i class="{{ level0.iconclass }}"></i>
                        <span class="hidden-xs">{{ level0.name | trans }}</span>
                    </a>
                {% endif %}

                {% if level0.values|default(null) is iterable %}
                    {% set toBeDisplayed = 'none' %}
                    {% for level1 in level0.values %}
                        {% if level1.path == route %}
                            {% set toBeDisplayed =  'block' %}
                        {% endif %}
                    {% endfor %}

                    <ul class="dropdown-menu" style="display: {{ toBeDisplayed }};" >
                        {% for level1 in level0.values %}
                            <li class="dropdown">
                                {% if level1.values|default(null) is iterable %}
                                    <a href="#" class="dropdown-toggle">
                                        <span class="">{{ level1.name | trans }}
                                    </a>
                                    <ul class="dropdown-menu" >
                                        {% for level2 in level1.values %}
                                            <li class="dropdown ">
                                                <a href="{{ path( level2.path ) }}" class="dropdown-toggle">
                                                    <span style="margin-left:10px">{{ level2.name | trans}}
                                                    </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if level1.noid is defined %}
                                        <a href="{% if level1.path is defined %} {{ path( level1.path )}} {% endif %}" class="dropdown-toggle">
                                            <span class="">{{ level1.name | trans }}
                                        </a>
                                    {% else %}
                                        <a href="{% if level1.path is defined %} {{ path( level1.path )}} {% endif %}" class="dropdown-toggle">
                                            <span class="">{{ level1.name | trans }}
                                        </a>
                                    {% endif %}

                                {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
{% endblock %}
