<style>
    body {
        background-color: {{ properties.menu_body.properties["background-color"] }};
        color: {{ properties.menu_body.properties.color }};
    }

    .logo-img {
        max-width: 100%;
        height: auto;
        margin: 30px 0px 30px 0px;
    }

    .underline {
        border-bottom: 1px solid currentColor;
        border-top: 1px solid currentColor;
        padding: 15px 0px 15px 0px;
    }

    {% for class in properties|keys %}
    .{{ class }} {
    {% for property in properties[class].properties|keys %}
    {% if properties[class].properties[property] != '' %}
    {{ property }}: {{ properties[class].properties[property]|raw }};
    {% endif %}
    {% endfor %}
    }
    {% endfor %}

</style>
<div class="row-fluid" style="padding-top: 30px">

    <div class="col-xs-12 col-sm-12 text-center">
        <h1 class="menu_restaurant_title">{{ titulo }}</h1>
        {% if logo is not null %}
            <img class="logo-img" src="{{ asset(logo) }}">
        {% endif %}

        <div class="row" style="visibility: visible; position: relative;">
            <br>
            {% for entrada in restoMenu %}
                {% if entrada.items | length > 0 %}
                    <div style="margin-top: 20px;" class="col-sm-12 col-md-12">
                        <h2 class="underline">
                            <span class="{{ entrada.class }}">{{ entrada.categoria | nl2br }}</span>
                            {% if entrada.description is defined %}
                                <div class="categoria-description">{{ entrada.description | nl2br }}</div>
                            {% endif %}
                            {% if entrada.price is defined %}
                                <div class="promo-price">{{ entrada.currency }}&nbsp;{{ entrada.price | nl2br }}</div>
                            {% endif %}
                        </h2>
                    </div>

                    {% for item in entrada.items %}
                        <div style="margin-top: 20px;" class="col-sm-12 col-md-12">
                            <h4><b>
                                    {%  if (item.count is defined) and (item.count != 1) %}{{ item.count}} x {% endif %}
                                    {{ item.label | nl2br }}</b></h4>
                            <h4><i>{{ item.descripcion | nl2br }}</i></h4>
                            {% if item.price is defined %}
                                <h4>{{ item.currency }}&nbsp;{{ item.price | nl2br }}</h4>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                <div style="margin-bottom: 20px;">&nbsp;</div>
            {% endfor %}
        </div>
    </div>
</div>
