<style>
    body {
        background-color: {{ properties.menu_body.properties["background-color"] }};
        color: {{ properties.menu_body.properties.color }};
    }

    .restaurant_logo, .restaurant_logo-mobile-preview {
        height: auto;
        margin: 30px 0px 30px 0px;
    }

    .underline {
        border-bottom: 1px solid currentColor;
        border-top: 1px solid currentColor;
        padding: 15px 0px 15px 0px;
    }

    img.dish-image {
        width: 40%;
    }

    div.dish {
        margin-bottom: 20px;
    }

    {% for class in properties|keys %}
        .{{ class }} {
            {% for property in properties[class].properties|keys %}
                {% if properties[class].properties[property] != '' %}
                    {{ property }}: {{ properties[class].properties[property]|raw }};
                {% endif %}
            {% endfor %}
        }
    {% endfor %}

    {% for class in imageProperties|keys %}
        img.{{ class }} {
            {% for property in imageProperties[class].properties|keys %}
                {% if imageProperties[class].properties[property] is iterable %}
                    {{ property }}: {{ imageProperties[class].properties[property]["desktop"] }}
                {% elseif property != 'visible' %}
                    {{ property }}: {{ imageProperties[class].properties[property]|raw }};
                {% endif %}
            {% endfor %}
        }
    {% endfor %}

    @media only screen and (max-width: 768px) {
        div.dish {
            margin-bottom: 45px;
        }

        {% for class in imageProperties|keys %}
            {% for property in imageProperties[class].properties|keys %}
                {% if imageProperties[class].properties[property] is iterable %}
                    img.{{ class }} {
                    {{ property }}: {{ imageProperties[class].properties[property]["mobile"] }}
                    }
                {% endif %}
            {% endfor %}
        {% endfor %}
    }
    .mobile-width {
        max-width: 720px;
        border: 1px dashed red;
        border-radius: 10px;
        padding-top: 0px;
    }

    {% for class in imageProperties|keys %}
        img.{{ class }}-mobile-preview {
            {% for property in imageProperties[class].properties|keys %}
                {% if imageProperties[class].properties[property] is iterable %}
                    {{ property }}: {{ imageProperties[class].properties[property]["mobile"] }}
                {% endif %}
            {% endfor %}
        }
    {% endfor %}

    .menu-content {
        padding-top: 30px;
    }
</style>
<div class="row-fluid">
    <div class="col-xs-12 col-sm-12 text-center
        {% if forceMobileWidth is defined and forceMobileWidth == true %} mobile-width {% endif %}
        menu-content">
        <div class="row" style="visibility: visible; position: relative;">
            <br>
            {% for entry in restoMenu %}
                {% if entry.category_type == 'text' %}
                    <div style="margin-top: 20px;" class="col-sm-12 col-md-12">
                        <span class="{{ entry.class }}">{{ entry.label }}</span>
                    </div>
                {% elseif entry.category_type == 'image' %}
                    {%  if imageProperties[entry.category] is defined
                        and imageProperties[entry.category].properties['visible'] is defined
                        and imageProperties[entry.category].properties['visible'] == 'true' %}
                        {% if (entry.link is not null) and (entry.link != "") %}
                            <img class="restaurant_logo{% if forceMobileWidth is defined and forceMobileWidth == true %}-mobile-preview {% endif %}" src="{{ asset(logo) }}">
                        {% endif %}
                    {% endif %}
                {% elseif entry.items | length > 0 %}
                    <div style="margin-top: 20px;" class="col-sm-12 col-md-12">
                        <h2 class="underline">
                            <span class="{{ entry.class }}">{{ entry.category | nl2br }}</span>
                            {% if entry.description is defined %}
                                <div class="{{ entry.class }}">{{ entry.description | nl2br }}</div>
                            {% endif %}
                            {% if entry.price is defined %}
                                <div class="{{ entry.class }}">{{ entry.currency }}&nbsp;{{ entry.price | nl2br }}</div>
                            {% endif %}
                        </h2>
                    </div>

                    {% for item in entry.items %}
                        <div style="margin-top: 20px;" class="dish col-sm-12 col-md-12">
                            <h4 class="{{ item.class }}"><b>
                                    {%  if (item.count is defined) and (item.count != 1) %}{{ item.count}} x {% endif %}
                                    {{ item.label | nl2br }}</b></h4>
                            <h4 class="{{ item.class }}"><i>{{ item.descripcion | nl2br }}</i></h4>
                            {% if item.price is defined %}
                                <h4 class="{{ item.class }}">{{ item.currency }}&nbsp;{{ item.price | nl2br }}</h4>
                            {% endif %}

                        {% if item.image is not null %}
                            <div>
                                {%  if imageProperties['dish'] is defined
                                    and imageProperties['dish'].properties['visible'] is defined
                                    and imageProperties['dish'].properties['visible'] == 'true' %}
                                    <img
                                            class="dish{% if forceMobileWidth is defined and forceMobileWidth == true %}-mobile-preview {% endif %}"
                                            src="{{ asset(item.image) }}"
                                    >
                                {% endif %}
                            </div>
                        {% endif %}

                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
